<div class="container d-flex justify-content-center align-items-center">
    <div class="card">
      <div class="card-body">
        <form>
          <div class="form-group">
            <label for="name" class="form-label">Name:</label>
            <input [(ngModel)]="assetToAdd.name" name="name" type="text" class="form-control" id="name">
          </div>
          <div class="form-group rest">
            <label for="category" class="form-label">Category</label>
            <select class="form-select" [(ngModel)]="assetToAdd.category" name="category">
            <option value="">Select a category</option>
            <option *ngFor="let category of categories" [value]="category">{{category}}</option>
          </select>
          </div>
          <div class="form-group rest">
            <label for="quantity" class="form-label">Quantity:</label>
            <input [(ngModel)]="assetToAdd.quantity" name="quantity" type="number" class="form-control" id="quantity">
          </div>
          <div class="form-group rest">
            <input type="file" class="choose-file" (change)="fileChange($event)" placeholder="Upload picture" accept="image/png, image/jpeg">
          </div>
          <button type="submit" class="btn btn-primary submit  btn-hover-effect" [disabled]="" (click)="addAsset()">Add</button>
        </form>
      </div>
    </div>
  </div>
