.container{ 
    margin-top: 6vw;
}

.form-group.rest{ 
    margin-top: 1vw;
}

.submit{ 
 margin-top: 2vw;
 width: 20vw;
 transition: 0.5s all ease-in-out;
 background-color: rgb(115, 187, 201);
 color: black;
}

.submit:hover{
    position: relative;
    background-color: rgb(86, 147, 158);
    color: white;
}
  
.form-control {
    border-bottom: 2px solid #333;
    background-color: transparent;
    padding: 5px;
    font-size: 1.2rem;
    color: #333;
    transition: all 1s;
  }
  
  .form-control:focus {
    outline: none;
    border-bottom: 2px solid #e92929;
    box-shadow: 0 0 5px rgba(233, 41, 41, 0.5);
    transition: all .5s;
  }

  .form-label {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 0.5rem;
  }
  
  .choose-file {
    position: relative;
    overflow: hidden;
    padding: 8px 12px;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 4px;
    color: #495057;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }
  
  .choose-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    font-size: 16px;
    cursor: pointer;
  }
  
  .choose-file label {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
  }
  
  .choose-file .selected-file-name {
    margin-left: 8px;
    font-weight: 400;
  }
  
  .choose-file:focus-within {
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    outline: none;
  }
  
  .form-select {
    appearance: none !important;
    background-color: #fff !important;
    border: 1px solid #ced4da !important;
    border-radius: 0.25rem !important;
    font-size: 1rem !important;
    padding: 0.375rem 0.75rem !important;
  }
  
  .form-select:focus {
    border-color: #8bbafe !important;
    box-shadow: 0 0 5px rgba(233, 41, 41, 0.5)!important;
    outline: none !important;
  }
  
  .form-select option {
    color: #212529 !important;
  }
  
  
  