.navbar-brand{
  margin-left: 5vw;
  font-size: 30px;
  font-family: 'Times New Roman', serif;
  font-weight: bold;
  transition: all 0.3s ease;
  background: -webkit-linear-gradient(left, rgb(87, 59, 3), rgb(76, 61, 61));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: black;
}

.navbar-brand:hover {
  color: #4facfe;
  transform: translateY(-5px);
  
}

.navbar.navbar-collapse{ 
  display : flex;
}

.nav-item.end{
  margin-left: auto !important;
}

@keyframes animatedGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to right, rgb(255, 217, 90) 0%, rgb(255, 217, 90) 100%);
  background-size: 400% 400%;
  
  animation: animatedGradient 30s ease infinite;
}


.nav-item {
  transition: all 0.3s ease;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  color: black;
}

.nav-item:hover {
  background-color: rgba(47, 36, 36, 0.2);
  transform: translateY(-5px);

}


.logout-button{
  position: absolute;
  margin-right: 50px;
  right: 0;
}

