.navbar-brand{
  margin-left: 5vw;
  font-size: 30px;
  font-family: 'Times New Roman', serif;
  font-weight: bold;
  transition: all 0.3s ease;
  
  color: rgb(207, 206, 206);
}

.navbar-brand:hover {
  color: #f0f1f3;
  transform: translateY(-5px);
  
}

.navbar.navbar-collapse{ 
  display : flex;
}

.nav-item.end{
  margin-left: auto !important;
}

@keyframes animatedGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to right, rgb(8, 2, 2)0%, rgb(8, 2, 2) 100%);
  background-size: 400% 400%;
  
  animation: animatedGradient 30s ease infinite;
}


.nav-item {
  transition: all 0.3s ease;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  color: rgb(207, 206, 206);
}

.nav-item:hover {
  background-color: rgb(52, 51, 51);
  transform: translateY(-5px);

}


.logout-button{
  position: absolute;
  margin-right: 50px;
  right: 0;
}

