.container{
    display:flex; 
    flex-direction: row;
    margin-top: 2vw;
}

.containerOne{ 
  flex: 1;
  margin-right: 5vw;
}

.containerTwo{
   flex: 1;
   margin-top: 1vw;
}

.form-group.rest{ 
  margin-top: 1vw;
}

.submit{ 
margin-top: 2vw;
width: 20vw;

transition: 0.5s all ease-in-out;
background-color: rgb(115, 187, 201);
color: black;
}

.submit:hover{
  position: relative;
  background-color: rgb(86, 147, 158);
  color: white;
}


.form-control {
  border-bottom: 2px solid #333;
  background-color: transparent;
  padding: 5px;
  font-size: 1.2rem;
  color: #333;
  transition: all 1s;
}

.form-control:focus {
  outline: none;
  border-bottom: 2px solid rgb(192, 127, 0);
  box-shadow: 0 0 5px rgb(192, 127, 0);
  transition: all .5s;
}

.form-label {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 0.5rem;
}

.btn-background-color{
  background-color: rgb(86, 147, 158);
}

.btn-background-color2{
  background-color: rgb(86, 147, 158);
}

.hover {
  transition: transform 0.3s ease-in-out;
}

.hover:hover {
  transform: scale(1.1);
}

/*Roles css*/
.selected{
  background-color: rgb(241, 212, 229);
}
/*End of Roles css*/