.container{ 
    margin-top: 6vw;
}

.form-group.rest{ 
    margin-top: 1vw;
}

.submit{ 
 margin-top: 2vw;
 width: 20vw;
 transition: 0.5s all ease-in-out;
 background-color: rgb(115, 187, 201);
 color: black;
}

.submit:hover{
    position: relative;
    background-color: rgb(86, 147, 158);
    color: white;
}
  
.form-control {
    
    border-bottom: 2px solid #333;
    background-color: transparent;
    padding: 5px;
    font-size: 1.2rem;
    color: #333;
    transition: all 1s;
  }
  
  .form-control:focus {
    outline: none;
    
    border-bottom: 2px solid #e92929;
    box-shadow: 0 0 5px rgba(233, 41, 41, 0.5);
    transition: all .5s;
  }

  .form-label {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 0.5rem;
  }
  
  
  
  