<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img src="https://img.freepik.com/free-vector/engineer-developer-with-laptop-tablet-code-cross-platform-development-cross-platform-operating-systems-software-environments-concept-bright-vibrant-violet-isolated-illustration_335657-312.jpg?w=1060&t=st=1678043438~exp=1678044038~hmac=454e10efdf4a544b38fd7337e8edc43a0e5325cdd9fe252ede4f10463df4e16b"
          class="img-fluid" alt="Phone image">
        <div class="login-form">
          <div class="form-container">
            <form (ngSubmit)="onSubmit()">
              <!-- Email input -->
              <div class="form-outline mb-4">
                <input [(ngModel)]="user.username" name="username" type="text" id="username" class="form-control " placeholder=" ">
                <label class="form-label" for="username" >Username</label>
              </div>

              <!-- Password input -->
              <div class="form-outline mb-4">
                <input [(ngModel)]="user.password" type="password" name="password" id="password" class="form-control" placeholder=" " />
                <label class="form-label" for="password" >Password</label>
              </div>

              <!-- Submit button -->
              <div class="button">
                <button type="submit" class="btn btn-primary btn-lg btn-block" [disabled]="!user.username || !user.password" >Login</button>
              </div>

              
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
