.data-widget {
    display: flex;
    align-items: center;
    background-color: rgb(115, 187, 201);
    padding: 20px;
    border-radius: 15px;
    transition: transform 0.2s;
  }

  
  .data-widget:hover {
    transform: scale(1.01);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  }
  
  .icon {
    font-size: 50px;
    margin-right: 10px;
    color: black;
  }
  
  .content {
    flex-grow: 1;
    margin-left: 20px;
  }
  
  .title {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 2px; 
    color: black;
  } 
  
  .subtitle {
    font-size: 18px;
    color: black;
  }

.row{
    margin-top:4vw;
}


.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart-wrapper {
  display: flex;
  justify-content: center;
}

.chart-title {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}


.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart-title-wrapper {
  margin-bottom: 10px; /* Adjust the margin as per your preference */
}

.chart-wrapper {
  display: flex;
  align-items: flex-start;
}

.select-wrapper {
  margin-right: 10px; /* Adjust the margin as per your preference */
}



  