<div class="page-content" >
    <div class="row mx-auto" >
        <div class="col-lg-3 col-sm-6 col-12" >
            <div class="data-widget">
                <div class="icon">
                  <i class="fas fa-users fa-lg"></i>
                </div>
                <div class="content">
                  <p class="title">{{userCount}}</p>
                  <p class="subtitle">Users</p>
                </div>
              </div>
       </div>
        <div class="col-lg-3 col-sm-6 col-12">
            <div class="data-widget">
                <div class="icon">
                  <i class="fas fa-memory fa-lg"></i>
                </div>
                <div class="content">
                  <p class="title">{{assetsCount}}</p>
                  <p class="subtitle">Assets</p>
                </div>
              </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-12">
            <div class="data-widget">
                <div class="icon">
                  <i class="fas fa-clipboard-check fa-lg"></i>
                </div>
                <div class="content">
                  <p class="title">{{assignedAssetCount}}</p>
                  <p class="subtitle">Assigned Assets</p>
                </div>
              </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-12">
            <div class="data-widget">
                <div class="icon">
                  <i class="fas fa-truck-loading fa-lg"></i>
                </div> 
                <div class="content">
                  <p class="title">{{pendingAssignedAssetCount}}</p>
                  <p class="subtitle">Pending Assigns</p>
                </div>
              </div>
        </div>
    </div>
    
    <div class="row mx-auto chart-container">
        <h2 class="chart-title">Assigns Per Month</h2>
        <div class="chart-wrapper">
          <ngx-charts-bar-vertical #chart
            [view]="[1400, 300]"
            [scheme]="colorScheme"
            [results]="ChartData"
            [xAxis]="true"
            [yAxis]="true"
            xScaleMin="auto"
            xScaleMax="auto"
          ></ngx-charts-bar-vertical>
        </div>
      </div>
      
</div>
