.container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    
  }
  
  .dot {
    position: absolute;
    height: 6px;
    width: 6px;
    background-color: #CE1B5F;
    animation: dot 100s infinite linear;
    transform-origin: 50% 50%;
    border-radius: 50%;
  }
  
  .dots-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    animation: dots-container 20s infinite linear;
  }
  
  
  
  .dot:nth-child(1) {
    top: 20%;
    left: 10%;
  }
  
  .dot:nth-child(2) {
    top: 30%;
    left: 20%;
  }
  
  .dot:nth-child(3) {
    top: 40%;
    left: 30%;
  }

  .dot:nth-child(4) {
    top: 40%;
    left: 30%;
  }

  .dot:nth-child(5) {
    top: 40%;
    left: 30%;
  }
  
  .dot:nth-child(6) {
    top: 70%;
    left: 60%;
  }
  
  .dot:nth-child(7) {
    top: 80%;
    left: 70%;
  }
  
  .dot:nth-child(8) {
    top: 70%;
    left: 80%;
  }
  
  .dot:nth-child(9) {
    top: 60%;
    left: 90%;
  }
  
  .dot:nth-child(10) {
    top: 50%;
    left: 80%;
  }
  
  .dot:nth-child(11) {
    top: 40%;
    left: 70%;
  }
  
  .dot:nth-child(12) {
    top: 30%;
    left: 60%;
  }
  
  .dot:nth-child(13) {
    top: 20%;
    left: 50%;
  }
  
  .dot:nth-child(14) {
    top: 30%;
    left: 40%;
  }
  
  .dot:nth-child(15) {
    top: 40%;
    left: 30%;
  }
  /* Add more dots here... */
  
 
  
  @keyframes dot {
    0% {
      transform: rotate(0deg) translate(0, -200px) rotate(0deg);
    }
    100% {
      transform: rotate(360deg) translate(0, -200px) rotate(-360deg);
    }
  }
  
  @keyframes dots-container {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-500px, -500px);
    }
  }
  