.container-separator {
    display: flex;
    flex-direction: column;
}

.button-container{
    margin-top: 1vw;
}  

/*Search Bar Css*/

.searchBar-container{
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
    
}

.input-group{
    width: 20vw;
    margin-top: 2vw;
    margin-right: 9.9vw;
}

/*End of Search Bar Css*/

/*Table css region */
.table-container {
    margin-top: 0.5vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .pagination-container {
    margin-top: 0.5vw;
    display: flex;
    justify-content: flex-start;
    margin-left: 9vw;
  }
  
.table{
    width: fit-content;
    align-self: center;
    width: 80vw;
    font-size: large;
    margin-top: 10px;
}

.table-row{
    transition: all 0.5s ease-in-out;
}

.table-row:hover{
    scale: 101%;
}

.selected{ 
    background-color: rgb(241, 212, 229);
}


/*End of table css region*/

/*Button css region */  
.button-container{
    display: flex;
    justify-content: flex-end;
    align-items:flex-end; 
    margin-right: 2vw;
}

.btn.btn-primary{
    background-color: rgb(115, 187, 201);
    color: black;
    margin-left: 1vw;
    font-size: medium;
    width: 7vw;
    height: 3vw;
    transition: all 0.3s ease-in-out;
}

.btn.btn-primary:hover{ 
    scale:110%;
    background-color: rgb(86, 147, 158);
    color: white;
}

.btn.btn-primary:disabled{ 
    background-color: transparent;
}

/*End of button css region*/


